html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1700px;
  border: 1px solid #e0e0e0; /* Light border for the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Subtle shadow around the table */
}

th,
td {
  border-bottom: 1px solid #e0e0e0; /* Horizontal borders between rows */
  text-align: left;
  padding: 15px 8px; /* Increased vertical padding for rows */
}

th {
  background-color: #f7f7f7; /* Light gray header */
  text-align: center;
}

tr:hover {
  background-color: #fafafa; /* Hover effect for rows */
}
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
pre {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ccc; /* Light grey border */
  padding: 10px; /* Adds padding inside the pre element */
  overflow-x: auto; /* Ensures content is scrollable horizontally if it overflows */
  width: calc(
    100% - 22px
  ); /* Adjust width to account for padding and border */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
.seqspec-view-container {
  margin: 10px; /* Adds a little space between the form and output */
  display: flex;
  flex-direction: column;
  max-width: 1700px;
}